---
import { Image } from 'astro:assets';
import Layout from '../../layouts/Layout.astro';
import Main from "../../components/Main.astro";
import H1 from "../../components/H1.astro";
import {getReview} from '../../../lib/reviews'; 


const {slug} = Astro.params;
const post = await getReview(slug);

if(!post) {
    return Astro.redirect('/404');
}


---

<Layout title={post.title}>
	<Main>
		<H1 text={post.title}/>
        <Image 
            src={post.image}
            alt={post.slug}
            width={1024}
            height={768}
            class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
        <div class="text-xl text-teal-900 font-bold mb-4">
            <p>{post.date}</p>
        </div>
        
        <div class="prose prose-2xl overflow-visible relative mb-20">
           <div>{post.body}</div> 
        </div>
    </Main>
</Layout>
