---
import { getReview } from '../../lib/reviews'; // Import getReview if needed

type Props = {
  slug: string;
};

const { slug } = Astro.props;

const post = await getReview(slug);


---

<article class="card rounded-lg shadow-xl overflow-hidden">
  <img
    src={post.image}
    alt="{post.title}" 
    width="600"
    height="400"
    class="w-full h-56 object-cover rounded-t-lg"
  />
  <div class="p-4">
    <h2 class="text-3xl font-semibold leading-tight">
      <a href={`/blog/${post.slug}`}>
        {post.title}
      </a>
    </h2>
    <p class="text-gray-500 mb-2">
      {post.date}
    </p>
    <a href={`/blog/${post.slug}`} class="inline-block mt-2 font-semibold text-teal-800">
      Read More
    </a>
  </div>
</article>
