---
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';
import {getReview} from '../../lib/reviews';  



const {slug} = Astro.params;
const post = await getReview(slug);

---


<article>
    <a href={`/blog/${post.slug}`}>
        <Image
            src={post.image}
            width={600}
            height={400}
            alt={post.slug}
            class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
    </a>    
    <a
        href={`/blog/${post.slug}`}
        class="text-4xl text-zinc-900 font-semibold inline-block"
        >
        <h2>{post.title}</h2>
    </a>

</article>

